@model ItTutorial.Models.QuizPergunta

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>QuizPergunta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuizId" class="control-label"></label>
                <select asp-for="QuizId" class="form-control" asp-items="ViewBag.QuizId"></select>
                <span asp-validation-for="QuizId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PerguntaId" />
            <div class="form-group">
                <label asp-for="PerguntaExtenso" class="control-label"></label>
                <input asp-for="PerguntaExtenso" class="form-control" />
                <span asp-validation-for="PerguntaExtenso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerguntaOpcao1" class="control-label"></label>
                <input asp-for="PerguntaOpcao1" class="form-control" />
                <span asp-validation-for="PerguntaOpcao1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerguntaOpcao2" class="control-label"></label>
                <input asp-for="PerguntaOpcao2" class="form-control" />
                <span asp-validation-for="PerguntaOpcao2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerguntaOpcao3" class="control-label"></label>
                <input asp-for="PerguntaOpcao3" class="form-control" />
                <span asp-validation-for="PerguntaOpcao3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerguntaOpcao4" class="control-label"></label>
                <input asp-for="PerguntaOpcao4" class="form-control" />
                <span asp-validation-for="PerguntaOpcao4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespostaCerta" class="control-label"></label>
                <input asp-for="RespostaCerta" class="form-control" />
                <span asp-validation-for="RespostaCerta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
