
/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

.widget_search {
    text-align: right;

}


.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Carousel */
.carousel-caption p {
    padding-top: 20px;
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img {
    width: 700px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens 767px*/
@media screen and (max-width: 360px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

}