
body {
    padding-top: 0px;
    padding-bottom: 20px;
    color: black;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges*/
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img {
    width: 700px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens 767px*/
@media screen and (max-width: 970px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

}

.navbar {
    overflow:visible;
    background-color: darkslategray;
    font-family: Arial;
    float: none;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 10px 30px 0px 30px;
    text-decoration: none;
    border-top-width:medium;
    max-height:100px;
}

.tania{
    padding-left:400px;

}