@{
    ViewData["Title"] = "About";
}
<h1><strong>About us</strong></h1>


<h2><strong>Mission</strong></h2>
<br />
<p>Contribution towards development of technical qualification for programming, through a serie of online tutorials and quiz for different languages, such as Javascript and C#.</p>
<br />
<br />
<h2><strong>Vision</strong></h2>
<br />
<p>Our vision is for GrupoFixe to be a source of reference for introducing IT programming to people, and guiding them to the right direction to start a career.</p>



