@{
    ViewData["Title"] = "About";
}
<h1><strong>About us</strong></h1>
<div class="row">
	<div class="col-xs-6 col-md-6">
		<p>
			<h2><strong>Mission</strong></h2>
			<br />
		<p>Contribution towards development of technical qualification for programming, through a serie of online tutorials and quiz for different languages, such as Javascript and C#.</p>
		<br />
		<br />
		<h2><strong>Vision</strong></h2>
		<br />
		<p>Our vision is for GrupoFixe to be a source of reference for introducing IT programming to people, and guiding them to the right direction to start a career.</p>
		</p>
	</div>
	<div class="col-xs-6 col-md-4" style="padding:10px;">
		<p>
			<img src="http://www.memaricollege.org/img/vision-mission.png" style="width:360px;height:360px" border=0 alt="Sample Photo" />
		</p>
	</div>
</div>
	@**@
