@{
    ViewData["Title"] = "Begin";
}
<div class="inicio">
    <img src="~/images/logo1.png" align="top">
</div>

	
    <button type="button" style="background-color: mediumaquamarine  ;margin-left:auto;margin-right:auto;display:block;
		font-size : 20px;">
        Start by taking a quick  @Html.ActionLink("Quiz", "Index", "QuizPerguntas") to know your programming level!
</button>