
@{
    ViewData["Title"] = "Consola";
}

<head>
	<meta charset="utf-8" />
	<title>Consola</title>
	<environment names="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
	
</head>
<body>
	<div style="margin-left:05%; 
 font-family: Wendy One, sans-serif;font-size : 25px;color : green;
 ">
		<p>
			<strong>

	Practice here
</strong>	
		</p>
	</div>
		
	<div class="container">
		<div class="row">
			
			<div class="col-xs-6 col-md-6">
			
				Write your code here and press "Execute" button to compile and execute IT! :
				<div class="CompileMethod">

						@using (Html.BeginForm())
						{
							<form>


								 <textarea name="FirstCompile" value="" style="height:300px;width:450px; max-width:none;">			  	
            using System;
            public class MyClass
            {
                public String Result {get;set;}
                

            }	  	

</textarea><br>
								<br>
								<input type="submit" value="Execute" class="btn btn-info"> 


								<input type="reset" value="Clear" class="btn btn-danger">
								<br>
								<br>
								<!-- Model: valor que o controlador passa a view, model: o tipo de dados  -->
								Result:
								@Model

							</form>
						}
					</div>
			
					</div>
			

			<div class="col-xs-6 col-md-2" style="padding:10px;">
				<p>

					


					<button class="btn btn-success" onclick="myFunction()"> See an example </button>

				<p id="demo"></p>




			</div>

			</div>
		</div>

	<button type="button" style="background-color: greenyellow  ;margin-left:auto;margin-right:auto;display:block;
		font-size : 20px;">
		Continue to see more
		@Html.ActionLink("Videos", "Index", "Videos/Index/3") !
	</button>




</body>



