@{
    ViewData["Title"] = "Home Page";
   
}



<div class="item active">
    <img src="http://eskipaper.com/images/gray-background-4.jpg" alt="ASP.NET" class="img-responsive" style="width:1140px;height:300px" border=0 />
    
</div>