@model IEnumerable<ItTutorial.Models.Categorias>

@{
    ViewData["Title"] = "Forum";
}

<h2>Forum</h2>

@foreach (var cat in Model)
{
    <div style="background:black;margin:20px;color:white;">
        @Html.DisplayFor(modelItem => cat.CategoryTitle)

        
        @foreach (var subcat in cat.Subcategorias)
        {
            <div style="background:red;margin:5px;color:white;">
                @Html.DisplayFor(modelItem => subcat.Title)
            </div>
        }

    </div>
}
