@model ItTutorial.Models.QuizPergunta

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>QuizPergunta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuizId" class="control-label"></label>
                <select asp-for="QuizId" class ="form-control" asp-items="ViewBag.QuizId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PerguntaExtenso" class="control-label"></label>
                <input asp-for="PerguntaExtenso" class="form-control" />
                <span asp-validation-for="PerguntaExtenso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerguntaOpcoes" class="control-label"></label>
                <input asp-for="PerguntaOpcoes" class="form-control" />
                <span asp-validation-for="PerguntaOpcoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespostaCerta" class="control-label"></label>
                <input asp-for="RespostaCerta" class="form-control" />
                <span asp-validation-for="RespostaCerta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

