@model IEnumerable<ItTutorial.Models.QuizPergunta>

        @foreach (var item in Model)
        {
            
             @Html.Partial("Quizparcial", item)
        }

<<<<<<< HEAD
=======
<button  type="button" style="background-color: greenyellow  ;margin-left:auto;margin-right:auto;display:block;
		font-size : 30px;"
	>  
@Html.ActionLink("Submit", "Submit", "QuizPerguntas")

	</button>
>>>>>>> 41556fc565f133dad3eeaeb3f1f2e0b5fdb98c67

