
@{
    ViewData["Title"] = "Submit";
}
<link href='https://fonts.googleapis.com/css?family=Wendy+One' rel='stylesheet' type='text/css'>
<div class="containerballon">
	<div class="balloon" style="
		 font-family: Wendy One, sans-serif;"
		 >
		
		<div><span1>Y</span1></div>
		<div><span1>E</span1></div>
		<div><span1>E</span1></div>
		<div><span1>Y</span1></div>
		<div><span1>!</span1></div>
		<div><span1>!</span1></div>
			
		
	</div>
	<div  	 style="margin-left:25%; margin-right: 20px;margin-top: 30%;
 font-family: Wendy One, sans-serif;font-size : 18px;" 
		 >
		<p>
			You successfully achieved 30 % on the Quizz!
		</p>
	</div>
</div>


<button type="button" style="background-color: greenyellow  ;margin-left:auto;margin-right:auto;display:block;
		font-size : 20px;">Continue to see more 
	@Html.ActionLink("Videos", "Index", "Videos/Index/3") !
</button>