
@{
    ViewData["Title"] = "Submit";
}

<link href='https://fonts.googleapis.com/css?family=Wendy+One' rel='stylesheet' type='text/css'>
<div class="containerballon">
	<div class="balloon" style="
		 font-family: Wendy One, sans-serif;"
		 >
		
		<div><span>Y</span></div>
		<div><span>E</span></div>
		<div><span>Y</span></div>
		<div><span>!</span></div>
		<div><span>!</span></div>
		
		
		
	</div>
	
</div>


<button type="button" style="background-color: greenyellow  ;margin-left:auto;margin-right:auto;display:block;
		font-size : 20px;">Continue to see more 
	@Html.ActionLink("Videos", "Index", "Videos/Index/3") !
</button>
