@model List<ItTutorial.Models.Videos>

@{
    ViewData["Title"] = "Videos";

}
    <h1>
        @*@Html.DisplayFor(modelItem => Model.Title)*@
    </h1>


    <iframe width="760"
            height="515"
            src= @Html.DisplayFor(modelItem => Model[1].Source)
            frameborder="0"
            allowfullscreen></iframe>