@model IEnumerable<ItTutorial.Models.Videos>

@{
    ViewData["Title"] = "Videos";
}
<table class="table">
    <thead>
        <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>*@
                @*<th>
                    @Html.DisplayNameFor(model => model.Source)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>

	@foreach (var item in Model) {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.ActionLink("", "DetailsVideo", "Videos", new { id = item.Id }, new {@class="actionLinkImage", @style= "background-image:url(https://i.ytimg.com/vi/"+item.Source+"/hqdefault.jpg)" })
            </td>
        </tr>
}
    </tbody>
</table>

