@model IEnumerable<ItTutorial.Models.Linguagem>

@{
    ViewData["Title"] = "LINGUAGENS";
}

<h2>Linguagens Disponiveis</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody> 
@foreach (var item in Model)
         {
         <tr>
             <td>
                 @Html.DisplayFor(modelItem => item.Descricao)
             </td>        
         <td>
              <a asp-action="Edit" asp-route-id="@item.LinguagemId">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.LinguagemId">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.LinguagemId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
