@model IEnumerable<ItTutorial.Models.Quiz>

@{
    ViewData["Title"] = "QUIZS";
}

<h2>Quizs Disponiveis</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoQuiz)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuizId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuizId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuizId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
